.TestProgressBarContainer {
	width: 94%;
 	margin-left: 3%;
	margin-right: 3%;
	border: 1px solid grey;
	margin-top: 15px;
	@media screen and (min-width:800px) {
		width: 60%;
	 	margin-left: 20%;
		margin-right: 20%;
		margin-top: 50px;
	}
	h1 {
		text-align: center;
	}
}


.ProgressBarDisplay {
	.divPosition {
		position:relative;
	}
	.divMain {	
		border: 1px solid grey;
	}
	.divProgressBar {
		margin-bottom:10px;
		border: 1px solid grey;
		height: 20px;
	}
	.divProgressState {
		width:100%;
		top:-30px;
		height: 20px;
		text-align: center;
	}
}

.ProgressBarActions {
	margin-top: 10px;
	text-align:center;
}

.SelectProgressBar {
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
	@media screen and (min-width:800px) {
		height: 30px;
		width: 130px;	
	}
}

.btn {
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
	@media screen and (min-width:800px) {
		width: 100px;
		height: 30px;
		margin: 0px 10px;
	}
}
